# Dependency directories
node_modules/
jspm_packages/

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Operating System files
.DS_Store
Thumbs.db

# IDE / Editor folders
.vscode/
.idea/
*.swp
*.swo

# Environment variables (Sensitive data)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Docker
.dockerignore

# Testing
coverage/

# Database data (if you don't use Docker volumes correctly)
data/